/* font Work Sans  */  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}
/* Header and Navigation Style  */
header{
    /* background-color: blue; */
    background: rgba(255, 144, 14, 0.1);
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 50;
    align-items: center;
}

.nav-title{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    margin-top: 45px;
    margin-left: 125px;
    color: #131313;
}
nav ul{
    margin-top: 45px;
    margin-right: 141px;
    display: flex;
}
nav li{
    list-style: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-right: 35px;
}


/* header content style  */
.header-content{
    text-align: center;
}
.main-head-line{

    margin-left: 355px;
    margin-top: 85px;
    margin-right:355px;

}
.content-head-line{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    text-align: center;
}

.content-para{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.header-content button,.feature-explore-btn{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border:none;
    
}
.header-explore-btn,.feature-explore-btn{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-color: none;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 35px;
}

.architects-images img{
    width: 975px;
    height: 583px;
}

/* features styles  */
.features{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.feature-images{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin: 75px 35px 35px 255px;
    
}

.feature-description{
    margin: 75px 155px 35px 25px;
}


.feature-images .images img{
    width: 225px;
    height: 225px;
    /* border: 0.5px solid rgb(80, 79, 79); */
}

.feature-description-heading{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #727272;
}

.feature-description-content{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-span-our{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    color: #131313;
}


.feature-span-feature{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    color: #FF900E;
}

 /* Second feature styles  */


 .Feature-2{
    display: flex;
    margin: 5px 175px 50px 175px;
 }

.second-feature-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 7px;

    /* Dark 01 */

    color: #131313;
}


 .feature-2-main-div1{
    height: 882px;
    width: 586px;
    left: 240px;
    top: 2284px;
 }

 .feature-2-divs{
    box-shadow: 0 4px 8px 0  rgba(144, 143, 143, 0.19), 0 6px 20px 0 rgba(168, 168, 168, 0.19);
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
 }

 .feature-2-divs-title{
    margin-bottom: 11px;
 }

 .feature-2-main-div2 img{
    height: 982px;
    width: 586px;
    left: 240px;
    top: 2284px;
 }
 .feature-2-main-div2 img{
    width: 495px;
    height: 735px;
    padding-left: 55px;
 }
 .title-with-vl{
    display: flex;
}


 .vl{
    border-left: 3px solid #FF900E;;
    height: 95px;
 }

 .feature-explore-last-btn{
    background: #FF900E;
    border-radius: 8px;
    border:none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-color: none;
    color: #FFFFFF;
    /* margin-bottom: 25px; */
    position: absolute;
    top: 385%;
    left: 47%;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    width: 171px;
    height: 100px;
 }


 /* some features design  */

.fact-text{
    margin-left: 195px;
    margin-right: 195px;
}




.fact-title,.contat-title-div{
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    padding-bottom: 25px;
}

 .box{
    display: flex;
    justify-content: space-around;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 25px;
    padding-bottom: 25px;
 }
 .box-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #424242;
 }

 .box-paragraph{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #727272;

 }

.box-element{
    border: 1px solid rgb(24, 129, 119);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 135px;
    height: 100px;
    /* padding: 15px 15px 15px 15px; */
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    
}

.box :hover{
    background-color: aquamarine;
    border-color: #FF900E;
    
}

/* Contact */
.contact-property{
    display: flex;
    justify-content: space-around;
    padding: 0px 55px 55px 55px;
    align-items: center;
}


.Contact{
    background: #d3fae2;
}
.contat-title-div{
    text-align: left;
    /* margin-top: ; */
    padding-top: 75px;
    margin-left: 187px;
}
.contact-via{
    padding: 0px 10px 10px 0px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #131313;
    padding-bottom: 25px;
}

.contact-form,.contact-text{
    width: 50%;
    padding-left: 135px;
}
.contact-text-field{
    height: 155px;
    width: 355px;
    margin-top: 25px;
}

.contact-email{
    height: 35px;
    width: 175px;
    margin-top: 25px;
    
}

.contact-email-phn{
    border: 1px solid rgb(139, 137, 123);
    padding: 25px 0px 0px 25px 
}

.submit-button{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-color: none;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 35px;
}

.submit-button{
    background: #FF900E;
    border-radius: 8px;
    width: 115px;
    height: 55px;
    border:none;
    
}





/* sponsored style  */
.Sponspor{
    margin-top: 95px;
}

.Sponspor-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}


.Sponspor-paragraph{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    padding: 0px 250px 25px 250px;
    color: #727272;
}

.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}



.contact-via-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    /* text-align: center; */
    padding: 0px 0px 25px 0px;
    color: #727272;
}

/* Footer design */
.footer{
    margin: 50px 250px 50px 250px;
    background: #edd2b1;
    border-radius: 8px;
    padding: 25px 0px 25px 0px; 
    text-align: center;
}

.footer-para{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #424242;
}


/* ----------------------
Media Queries
------------------ */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .header,.main,.footer{
        width: 100%;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        
    }

    .nav-title{
        font-family: 'Work Sans', sans-serif;
        font-size: 35px;
        color: #131313;
        margin: 0px 0px 0px 0px;
        padding: 25px 0px 5px 55px;
    }

    .nav ul {
        margin-top: 15px;
        margin-right: 141px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    .nav-li{
        padding-top: 10px;
        padding-left: 55px;
    }


    .main-head-line{

        margin-left: 5px;
        margin-top: 25px;
        margin-right:5px;
    
    }

    .content-head-line{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        text-align: center;
        padding-bottom: 9px;
    }

    .content-para{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        /* width: 100%; */
    }


    .architects-images img{
        width: 100%;
        height: 325px;
    }

    .header-content{
        width: 100%;
    }


    /* Features Styles  */
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .feature-images{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        margin: 3px 3px 3px 3px;
        
    }

    .feature-description{
        margin: 75px 25px 35px 25px;
        text-align: center;

    }

    .feature-description-content{
        padding-bottom: 15px;
    }
    

    /* Features 2  */

    .Feature-2{
        display: flex;
        flex-direction: column;
        margin: 5px 3px 5px 3px;
        
     }

     .feature-2-main-div1{
        height: 882px;
        width: 100%;
        left: 240px;
        top: 2284px;
     }
     .feature-2-main-div2{
        padding-left: 3px;
        margin-left: 3px;
     }
/* 
     .feature-2-main-div2 img{
        height: 982px;
        width: 586px;
        
     }
      */
     .feature-2-main-div2 img{
        width: 100%;
        height: 735px;
        padding: 0px 3px 0px 3px;

     }

     .feature-explore-last-btn{
        background: #FF900E;
        border-radius: 8px;
        border:none;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        border-color: none;
        color: #FFFFFF;
        margin-bottom: 25px; 
        position: absolute;
        top: 425%;
        left: 25%;
        padding: 12px 24px;
        cursor: pointer;
        text-align: center;
        width: 171px;
        height: 100px;
     }

     /* Facts sections  */
    
     .fact-section{
        padding-top: 95px;
     }
      

    .fact-text{
        margin-left: 3px;
        margin-right: 3px;
    }
    

     .fact-title{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #131313;
        padding-bottom: 9px;
     }


     .box{
        display: flex;
        justify-content:center;
        flex-direction: column;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
     }
     .box-element{
        margin-bottom: 10px;
     }


     /* sopnsors style */
    .Sponspor-paragraph{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        text-align: center;
        padding: 0px 3px 25px 3px;
        color: #727272;
    }

    .sponsors-img{

        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;


    }

    .sponsors-img-div img{
        padding-bottom: 25px;
    }
    .contact-email-phn {
        border: 1px solid rgb(139, 137, 123);
        padding: 25px 0px 0px 5px;
    }

    .contact-property{
        display: flex;
        flex-direction: column;
        padding: 5px 3px 5px 0px;
        align-items: center;
    }

    .contact-via-text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        /* text-align: center; */
        padding: 0px 5px 25px 5px;
        color: #727272;
    }

    .contat-title-div{

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #131313;
        padding-bottom: 25px;
        margin-left: 0px;

    }

    .contact-via{
        padding: 0px 3px 10px 3px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        color: #131313;
        padding-bottom: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .contact-text,.contact-form{
        width: 100%; 
        padding: 3px 3px 3px 3px;
    }


    .contact-text-field{
        height: 155px;
        width: 100%;
        margin-top: 25px;
    }


    *{
        font-family: 'Work Sans', sans-serif;
        margin: 0; 
    }

    /* Footer design */
    .footer{
       
        margin: 50px 0px 350px 0px; 
        background: #edd2b1;
        border-radius: 8px;
        padding: 5px 0px 5px 0px; 
        text-align: center;
        
    }

    .footer-para{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        color: #424242;
        /* width: 100%; */
    }

  


}


